<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="../csss/index.css"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Glass Cannon</title>
</head>
<style>
    body {background-color: #1C1C1C;}
    h1   {color:#311400;}
    p    {color: rgb(225, 11, 11);}
    </style>
<body>
    <header>
        <h1><a href ="../index.html"> Team Glass Cannon</a></h1>
        <ul class="Menu">
            <li class="menu__item"><a href="../index.html" title="HOME">	  HOME  </a></li>
			<li class="menu__item"><a href="ABOUT.html" title="ABOUT"> 	ABOUT</a></li>
            <li class="menu__item"><a href="GAMES.html" title="GAMES">	 GAMES</a></li>
			<li class="menu__item"><a href="NEWS.html" title="NEWS">	 NEWS (COMING SOON)</a></li>
            <li class="menu__item"><a href="GUIDES.html" title="GUIDES">	 GUIDES (COMING SOON)</a></li>
            <li class="menu__item"><a href="SUPPORT.html" title="SUPPORT">	 SUPPORT (COMING SOON)</a></li>
        </ul>
    </header> 
    
    <div id="contenedor" >
        <img class="imagenlogo">
        <h2 class="titleart">Games aproved by Glass Cannon Team</h2>
        <p class="textart"></p>

<main class="grid-area">
    <section id="hades"> <img src="../img/thumb-1920-1151800.png"></section>
    <section id="hollow"> <img src="../img/H2x1_WiiUDS_HollowKnight.jpg"> </section>
    <section id="cuphead"> <img src="../img/876664.png"></section>
    <section id="souls"> <img src="../img/thumb-1920-528418.jpg"></section>
    <section id="resident"><img src="../img/a4f4e0cde8c5b27024199460358f75a6.jpg" alt=""></section>
    <section id="mine"> <img src="../img/A-circle-in-Minecraft.jpg" alt=""></section>

</main>


        <ul class="botones" >
            <li class="menu__item"><a href="GAMES.html" title="GAMES">	 GAMES</a></li>
            <li class="menu__item"><a href="GAMES.html" title="GAMES">	 SUBMIT A RUN</a></li> 
        </ul>
    </div>



</body>
</html>